@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a; /* Hizaki Dark Navy */
  --foreground: #f8fafc; /* Off-white text */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}